html {
  font-size: 62.5%; /* 62.5% de 16px = 10px; 1.6rem = 16px;  2.4rem = 24px */
}

/* ==================== VARIÁVEIS CSS ================ */
:root {
  /* Fontes e tamanhos */
  --font-family: 'Space Grotesk', sans-serif;
  --h1-desktop: 5.4rem;
  --h2-desktop: 4rem;
  --h3-desktop: 3rem;
  --h4-desktop: 2rem;
  --p-desktop: 1.8rem;

  --h1-mobile: 4.2rem;
  --p-mobile: 1.6rem;

  --icon-desktop: 3.6rem;
  /* Cores */
  --color-destaque: #b9ff66;
  --color-bg-gray: #f3f3f3;
  --color-bg-drak: #191a23;
  --color-bg-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ====================== HEADER ====================*/
header {
  padding-top: 1.6rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle {
  font-size: 3.2rem;
  color: var(--color-bg-drak);
  display: none;
}
.logo__container {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  gap: 1rem;
  & i {
    font-size: var(--icon-desktop);
  }
  & a {
    font-size: var(--h3-desktop);
    color: var(--color-bg-drak);
    font-weight: 600;
  }
}

.nav__container_list {
  display: flex;
  gap: 4rem;
  font-size: var(--p-desktop);
  align-items: center;
  & a {
    color: var(--color-bg-drak);
  }
  & .nav__btn {
    padding: 2rem 3rem;
    border: 0.01rem solid var(--color-bg-drak);
    border-radius: 1.4rem;
  }
}

.show-menu {
  display: inline;
}

@media (width <= 576px) {
  .logo__container {
    padding-left: 1rem;
  }
  #toggle {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
  }
  .nav__container_list {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    display: none;
    background: var(--color-bg-gray);
    -webkit-box-shadow: -2px 18px 25px -17px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -2px 18px 25px -17px rgba(0, 0, 0, 0.28);
    box-shadow: -2px 18px 25px -17px rgba(0, 0, 0, 0.28);
  }

  #navBar.show-menu .nav__container_list {
    transition: 0.85s all ease-in-out;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

/* ====================== HERO SECTION ====================*/
.hero {
  margin-top: 2rem;
}

.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__text {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  & h1 {
    font-size: var(--h1-desktop);
  }
  & p {
    font-size: var(--p-desktop);
  }

  & a {
    padding: 2rem 3rem;
    border: 0.01rem solid var(--color-bg-drak);
    border-radius: 1.4rem;
    max-width: 230px;
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-bg-white);
    background: var(--color-bg-drak);
  }
}

.hero__img {
  padding: 1rem;
  & img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.marcas__container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marcas__list {
  display: flex;
  padding: 1rem;
  gap: 6.2rem;
  position: relative;
  animation: scroll 16s linear infinite;
  & li > img:hover {
    transition: 0.4s ease-in-out;
    padding: 0.5rem;
    background: var(--color-bg-gray);
    transform: translateY(0.2rem);
    cursor: pointer;
    border: 0.1rem solid var(--color-bg-drak);
    border-radius: 1rem;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.marcas {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  content: '';
  height: 120px;
  position: absolute;
  width: 200px;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  width: calc(250px * 10); /* Ajuste conforme o número de imagens */
}

.slide {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.slide:hover {
  transition: 0.4s ease-in;
  transform: translateY(-0.8rem);
  cursor: pointer;
}

.slide img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  } /* Metade do total de slides */
}

.subtitle {
  text-align: start;
  padding: 1rem;
  & h2 {
    font-size: var(--h2-desktop);
    color: var(--color-bg-drak);
  }
}

@media (width <= 576px) {
  .hero__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero__text {
    gap: 1rem;
    & h1 {
      font-size: 42px;
    }
    & p {
      font-size: 16px;
    }
  }

  .subtitle {
    & h2 {
      font-size: 2.8rem;
      z-index: -1;
    }
  }
}
